<div class="chatForm" >
  <div class="chatHeader alignCenter">
    <div class="chatName sairaRegular18">
      {{chatroomNameHeader}}
    </div>
  </div>
  <div id="messages">
    <div #messagesRef class="chatLogs scroll">
      <ng-container *ngFor="let message of messages | async; trackBy: trackByIndex">
        <div (resized)="onResized($event)">
          <app-message [messageFromUser]="message"></app-message>
        </div>
      </ng-container>
    </div>
    <span #messageRef></span>
  </div>
  <app-input-message></app-input-message>
</div>
