<div class="chatForm" >
  <div class="chatHeader alignCenter">
    <div class="chatName sairaRegular18">
      {{chatRoomId}}
    </div>
  </div>

  <div id="messages">
    <div #messagesRef class="chatLogs scroll">
      <ng-container *ngFor="let message of messages | async">
        <div (resized)="onResized($event)">
          <app-message [messageFromUser]="message"></app-message>
        </div>
      </ng-container>
      <span #messageRef></span>
    </div>
  </div>

  <!--<div id="jsoneditor">-->

  <!--<div id="messages">-->
  <!--<div #messagesRef data-chatid="MAIN" class="chatLogs scroll">-->
  <!--<div class="dateMessage alignCenter sairaLight14"><p>2019-06-28</p></div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>Test message 1</p></div>-->
  <!--<div class="timeMessage sairaLight14">00:16</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>Test message 2</p></div>-->
  <!--<div class="timeMessage sairaLight14">00:18</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>Test</p></div>-->
  <!--<div class="timeMessage sairaLight14">00:20</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>asdas</p></div>-->
  <!--<div class="timeMessage sairaLight14">00:21</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>sadasd</p></div>-->
  <!--<div class="timeMessage sairaLight14">00:27</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="dateMessage alignCenter sairaLight14"><p>2019-07-01</p></div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>asdsdd</p></div>-->
  <!--<div class="timeMessage sairaLight14">19:16</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>dasd</p></div>-->
  <!--<div class="timeMessage sairaLight14">19:21</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>asd</p></div>-->
  <!--<div class="timeMessage sairaLight14">19:22</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
  <!--dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex-->
  <!--ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu-->
  <!--fugiat-->
  <!--nulla pariatur. </p></div>-->
  <!--<div class="timeMessage sairaLight14">19:29</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="dateMessage alignCenter sairaLight14"><p>2019-10-24</p></div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>bnn</p></div>-->
  <!--<div class="timeMessage sairaLight14">08:33</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div data-chatid="MAIN" class="chatLogs scroll">-->
  <!--<div class="dateMessage alignCenter sairaLight14"><p>2019-06-28</p></div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>Test message 1</p></div>-->
  <!--<div class="timeMessage sairaLight14">00:16</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>Test message 2</p></div>-->
  <!--<div class="timeMessage sairaLight14">00:18</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>Test</p></div>-->
  <!--<div class="timeMessage sairaLight14">00:20</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>asdas</p></div>-->
  <!--<div class="timeMessage sairaLight14">00:21</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>sadasd</p></div>-->
  <!--<div class="timeMessage sairaLight14">00:27</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="dateMessage alignCenter sairaLight14"><p>2019-07-01</p></div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>asdsdd</p></div>-->
  <!--<div class="timeMessage sairaLight14">19:16</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>dasd</p></div>-->
  <!--<div class="timeMessage sairaLight14">19:21</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>asd</p></div>-->
  <!--<div class="timeMessage sairaLight14">19:22</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="chatMessage alignMessage">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
  <!--dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip-->
  <!--ex-->
  <!--ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu-->
  <!--fugiat-->
  <!--nulla pariatur. </p></div>-->
  <!--<div class="timeMessage sairaLight14">19:29</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="dateMessage alignCenter sairaLight14"><p>2019-10-24</p></div>-->
  <!--<div id="jsoneditor">-->
  <!--<div class="chatAvatar"></div>-->
  <!--<div class="boxForMessage">-->
  <!--<div class="messageText sairaLight14">-->
  <!--<div class="name sairaRegular18">undefined</div>-->
  <!--<p>bnn</p></div>-->
  <!--<div class="timeMessage sairaLight14">08:33</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <app-input-message></app-input-message>
</div>
