<app-header-chat-room></app-header-chat-room>
<div appBlockWidth class="ui-g">
    <p-sidebar [modal]="false" [autoZIndex]="false" [dismissible]="false" [(visible)]="showTabsService.getDisplayChats().value">
      <app-logs-chat-room style="position: relative"></app-logs-chat-room>
    </p-sidebar>
    <app-messages-chat-room style="display: flex;"></app-messages-chat-room>
  <p-sidebar [modal]="false" [autoZIndex]="false" [dismissible]="false" [(visible)]="showTabsService.getDisplayMembers().value">
    <app-members-chat-room></app-members-chat-room>
  </p-sidebar>
</div>

