<div class="bg-modal">
  <div class="modal-content" *ngIf="!authorizationUserService.isAuth">
    <div class="header-modal">Регистрация</div>
    <form action="">
      <input type="text" [(ngModel)]="loginField" [ngModelOptions]="{standalone: true}" class="inputname" placeholder="Новый логин">
      <input type="text" [(ngModel)]="passwordField" [ngModelOptions]="{standalone: true}" class="inputname" placeholder="Новый пароль">
      <button type="button" (click)="redirectLogin()">Назад</button>
      <button type="button" (click)="authorizationUserService.registration(loginField, passwordField)" id="buttonReg">Регистрация</button>
      <p id="check">{{authorizationUserService.responce}}</p>
    </form>
  </div>
</div>
