<div class="bg-modal">
  <div class="modal-content" *ngIf="!authorizationUserService.isAuth">
    <div class="header-modal">Войдите</div>
    <form action="">
      <input type="text" [(ngModel)]="user.loginField" [ngModelOptions]="{standalone: true}" class="inputname" placeholder="Логин">
      <input type="text" [(ngModel)]="user.passwordField" [ngModelOptions]="{standalone: true}" class="inputname" placeholder="Пароль">
      <button type="button" id="login" (click)="authorizationUserService.login(user)">Вход</button>
      <button type="button" (click)="redirectReg()" id="buttonReg">Регистрация</button>
      <p id="check">{{authorizationUserService.responce}}</p>
    </form>
  </div>
</div>
