<div class="header">
  <div class="account alignCenter">
    <div class="containerForProfile alignCenter">
      <div class="containerForAvatar alignCenter">
        <div class="avatar avatarProfile">
          <button type="button" class="exit" onClick="window.location.reload();"></button>
        </div>
      </div>
      <div class="containerForInfo">
        <div class="containerName">
          <div class="name sairaRegular18">{{profile.user.username}}</div>
          <div class="onlineTime sairaLight14">
            в сети 0 минут
          </div>
        </div>
        <div class="changeInfo alignCenter sairaLight14">
          <a href="#">Изменить информацию</a>
        </div>
      </div>
    </div>
  </div>
  <div class="globalTime sairaRegular18 alignCenter" id="time">
  </div>
</div>
