.header {
  display: flex;
  background: url("../../images/logo.svg") #FFB800 no-repeat center;
  filter: drop-shadow(4px 0px 4px hsl(0, 0%, 60%));
}

.account {
  margin-left: auto;
  width: 20%;
  background: #FFA528;
}

.onlineTime {
  margin-right: 1%;
  margin-left: 7%;
}

.containerForProfile {
  display: flex;
  overflow: hidden;
}

.containerForAvatar {
  margin: 5px;
}

.avatar {
  position: relative;
  max-width: 60px;
  min-width: 60px;
  max-height: 60px;
  min-height: 60px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  border-radius: 38px;
  background: #EED8D8;
}

.avatarProfile {
  background: #744343;
}

.exit {
  z-index: 2;
  top: 0;
  right: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  background:url("../../images/exit.png") #ee5234;
  border: none;
  background-size: contain;
  outline: none;
}

.containerForInfo {
  margin: auto 0;
}

.containerName {
  width: 176px;
  display: inline-flex;
}

.name {
  margin-left: 1%;
  font-size: .8em;
  color: #000000;
}

.changeInfo {
  height: 23px;
  width: 160px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #F17373;
}

.changeInfo button {
  background: #F17373;
  border: none;
  outline: none;
}

.globalTime {
  padding: 0 5px;
  width: 5%;
  height: inherit;
  background: #FF6200;
  color: #FFFFFF;
  overflow: hidden;
}

.alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .containerName {
    width: 176px;
    display: block;
    padding-bottom: 1px;
  }

  .onlineTime {
    margin-left: 0;
  }

  .globalTime {
    width: 10vh;
  }

  .name {
    margin: 0;
  }

  .account {
    padding: 0 10px;
    height: inherit;
    width: 25vh;
  }

  .exit {
    margin-top: 1.5vh;
    margin-right: 12vh;
    position: fixed;
    width: 25px;
    height: 25px;
  }

  .changeInfo button {
    font-size: 8px;
    height: 10px;
  }

  .changeInfo {
    width: 115px;
    height: 12px;
    border-radius: 3px;
  }

  .header {
    height: 10vh;
  }

  .alignCenter {
    margin-top: 0;
  }

  .containerForAvatar {
    margin: 0 5px;
  }
}

