.chatMessage {
  display: flex;
  flex-flow: row wrap;
  margin: 2% 5%;
}

.chatMessage p {
  padding: 2%;
  /* padding: 10px; */
}

.boxForMessage {
  width: 90%;
  margin: auto 0;
}

.messageText {
  width: 90%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #FFFFFF;
}

.messageText p,
.messageTextSelf p{
  text-align: justify;
  color: rgba(0, 0, 0, 0.74);
}

.boxForMessage .name {
  padding: 2% 2% 0 2%;
  /* padding: 10px 0 0 10px; */
}

.boxForMessage .timeMessage {
  font-size: .6em;
  padding: 1vh 0 0 3vh;
}

.alignMessage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.boxForMessageSelf {
  order: -1;
  text-align: right;
}

.messageTextSelf {
  margin-left: auto;
  background-color: #FFB800;
}

.sairaRegular18 {
  font-size: 18px;
  font-weight: 600;
}

.name {
  /*margin-left: 1%;*/
  font-size: 1em;
  color: #000000;
}

@media screen and (max-width: 425px) {
  .boxForMessage {
    width: 85%;
  }
}
