<div *ngIf="newDate" class="dateMessage alignCenter sairaLight14">
  <p>{{dateService.previousDate}}</p>
</div>
<div class="chatMessage alignMessage">
  <div class="chatAvatar" [ngStyle]="{'background-image': getUserAvatar, 'background-size': 'contain'}"></div>
  <div class="boxForMessage" [class.boxForMessageSelf]="messageFromMyself()">
    <div class="messageText sairaLight14" [class.messageTextSelf]="messageFromMyself()">
      <div class="name sairaRegular18">{{messageFromUser.username}}</div>
      <p [innerHTML] = "messageFromUser.message"></p>
    </div>
    <div class="timeMessage sairaLight14">{{messageFromUser.datetime | date: 'HH:mm' : '-00'}}</div>
  </div>
</div>
