.members {
  /*width: 25%;*/
  background: #FFF;
  /*position: absolute;*/
}

.chatNameHeader {
  /*display: inline-flex;*/
  /*position: absolute;*/
  top: 0;
  z-index: 2;
  color: #000000;
  height: 25px;
  width: 100%;
  background-color: #D3D2D2;
}

.chatName {
  /*position: absolute;*/
  margin: 0 5px;
}

.onlineMembers {
  right: 0;
  /*position: absolute;*/
  /*margin-right: 5vh;*/
  color: rgba(0, 0, 0, .54);
}

.chatMembers {
  background: #FFF;
  height: 87vh;
  /*margin-top: 25px;*/
  padding-left: 28%;
}

.alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyContainer {
  height: 2%;
}

@media screen and (max-width: 768px) {
  .avatar {
    padding: 0 5px;
    width: 30px;
    height: 30px;
  }

  .chatName {
    position: initial;
  }

  .onlineMembers {
    /*margin-right: 1.5vh;*/
  }
}

@media screen and (max-width: 425px) {
  .chatName {
    margin: auto;
  }
}
