<div class="members">
  <div class="chatNameHeader alignCenter">
    <div class="chatName sairaRegular18">
      УЧАСТНИКИ
    </div>
    <div class="onlineMembers sairaRegular18"> {{countOnlineMembers()}} В СЕТИ
    </div>
  </div>
  <div class="chatMembers scroll">

    <div class="alignCenter" *ngFor="let member of members | async | sortByStatus">
      <div class="containerForProfile alignCenter">
        <app-avatar></app-avatar>
        <div [class]="this.titleStyle" [class.online]="member.status">{{member.username }}</div>
      </div>
    </div>

  </div>
</div>
