#prompt-form {
  display: inline-block;
  padding: 10px 5px;
  width: 300px;
  background: white;
  vertical-align: middle;
  border-radius: 8px;
  background: white;
  padding: 12px;
}

#prompt-form-container {
  position: fixed;
  top: 25%;
  left: 0vh;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
}

#prompt-message {
  margin: 5px;
  font-family: monospace;
  font-size: 20px;
}

#prompt-form input[name="text"] {
  display: block;
  margin: auto;
  width: 180px;
  outline-width: 0;
  border-radius: 3px;
  margin-bottom: 5px;
  border: 1px solid #fffa00;
}

.buttonSubmitStyle, .buttonCancelStyle{
  width: 29%;
  font-size: 80%;
  font-weight: 600;
  color: #fff;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background: linear-gradient(to right, #e1d925, #e4df40, #cfdd30, #ffe43c);
  margin: 15px 5px 0 0;;
}

.buttonSubmitStyle {
  background: linear-gradient(to right, #cec615, #bfbb3c, #c9d636, #ceba40);
  /*background: linear-gradient(to right, #cec615, #d2cd3b, #b5c12a, #dac332);*/
}

.buttonSubmitStyle:disabled{
  background: #c2c6b7;
}


#cover-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.5;
}

input, select, textarea {
  width: 100%;
  padding: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=radio] {
  width: 10%;
  margin: 5px;
}

input[type=number]{
  margin-top: 3px;
  width: 100%;
}

.requiredFields {
  position: relative;
}

.error {
  right: 0;
  padding: 10px;
  color: red;
  position: absolute;
}

label {
  padding: 10px 0 3px 0;
  display: inline-block;
  float: left;
}

input.ng-dirty.ng-invalid {
  border: 1px solid red;
}

/*input[type=text],select .ng-invalid {*/
  /*border: 1px solid red;*/
/*}*/
/*input[type=text],select .ng-valid{*/
  /*border: 1px solid green;*/
/*}*/

#cover-div div {
  padding: 12px 0 0 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.attention {
  color: red;
}

.avatars {
  box-sizing: border-box;
  background-repeat: round;
  background-size: 120%;
  width: 70px;
  height: 40px;
  margin: 2%;
  /*background-image: url("../../../images/man/02.svg");*/
  /*width: 7vh;*/
  /*height: 6vh;*/
  border-radius: 50%;
  /*margin: 1%;*/
  background-color: #F28E8E;
}

.avatarsBlock {
  display: flex;
  width: 100%;
  padding: 0;
}

.active {
  border: 5px solid #80b928;
}
