  <div class="chatTabs">
    <div class="chatNameHeader alignCenter">
      <div class="chatName sairaRegular18">
        ЧАТЫ
      </div>
    </div>
    <div id="chatRooms" class="chats scroll">

      <div class="alignLeft active" data-chatRoomUserID="MAIN">
        <div class="containerForProfile alignCenter">
          <app-avatar></app-avatar>
          <div [class]="this.titleStyle">MAIN</div>
        </div>
      </div>

      <!--- Ниже блок, чтобы все чаты вмещались в видимую область --->
      <div id="emptyRoom" class="containerForAvatar"></div>
    </div>
  </div>
