  <div class="chatTabs">
    <div class="chatNameHeader alignCenter">
      <div class="chatName sairaRegular18">
        ЧАТЫ
      </div>
    </div>
    <div id="chatRooms" class="chats scroll">
      <ng-container *ngFor="let room of rooms | async">
          <app-room [room]="room"></app-room>
      </ng-container>
      <!--- Ниже блок, чтобы все чаты вмещались в видимую область --->
      <div id="emptyRoom" class="containerForAvatar"></div>
    </div>
  </div>
  <router-outlet></router-outlet>

