  <div class="chatTabs">
    <!--<div class="chatNameHeader alignCenter">-->
      <!--<div class="chatName sairaRegular18">-->
        <!--ЧАТЫ-->
      <!--</div>-->
    <!--</div>-->
    <!--<div id="chatRooms" class="chatMembers scroll">-->
      <!--<div class="alignLeft chatRoomId active" data-chatRoomUserID="MAIN">-->
        <!--<div class="containerForProfile alignCenter">-->
          <!--<div class="containerForAvatar alignCenter">-->
            <!--<div class="avatar avatarProfileTabs" data-chatRoomAmount="MAIN"></div>-->
          <!--</div>-->
          <!--<div>-->
            <!--<div class="containerName">-->
              <!--<div class="name sairaRegular18">-->
                <!--MAIN-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;- Ниже блок, чтобы все чаты вмещались в видимую область -&ndash;&gt;-->
      <!--<div id="emptyRoom" class="containerForAvatar"></div>-->
    <!--</div>-->
  </div>
